<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Pagina inicial</title>
</head>
<body>
  <h1>Pagina de adicionar</h1>
  <a href="/">VOLTAR PARA A PAGINA PRINCIPAL</a>
</body>
</html>